body{
    font-family: 'Oswald', sans-serif;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
    height: 75%;
}
.first-header{
    font-size: 50px;
}
.first-paragraph{
    font-size: 30px;
    text-alignment: justify;
}
.header-color{
    color:purple;
    font-size: 90px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,pink);
    color: white;
    border: 5px solid purple;
    border-radius: 10px;
    padding: 10px 25px;
}
.second-header{
    font-size: 40px;;
    margin-left: 100px;
    margin-bottom: 30px;
    color:royalblue;
}
.second-paragraph{
    font-size: 30px;
    color:royalblue;
    margin-bottom: 60px;
    text-align: justify;
}
.middle-level{
    background-image: url(food-network-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    height: 60%;

}
.third-header{
    text-align: center;
    color:indianred;
    margin-bottom: 40;
}
.third-paragraph{
    color:rgb(255, 47, 210);
    margin-left: 250px;
    margin-right: 250px;
}
.recipies{
    width:30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;;
    padding-left: 20px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
}
.recipies img{
    width:90%;

    padding-left: 10px;
    padding-right:10px;
    padding-top: 20px;
}
.sixth-level{
    background-color: darkblue;
    width:100%;
    height: 200px;
    color:yellowgreen;
    text-align: center;
    font-size: 40px;
}
.fifth-level{
    text-align: center;
}
.footer-header{
    color:tomato;
    text-align: center;
    font-size: 40px;
}
